.vscode
.DS_Store
.obsidian/appearance.json
.obsidian/graph.json
.obsidian/hotkeys.json
.obsidian/workspace
.obsidian/workspace.json
.obsidian/plugins/obsidian-textgenerator-plugin/data.json
.obsidian/text-generator.json
.obsidian/plugins/obsidian-completr/scanned_words.txt
.obsidian/command-palette.json
